/* =========================================
   DARKER PROJECT CATEGORY (current / past)
   ========================================= */
.category {
  color: var(--global-text-color) !important;
  font-weight: 500;
}


/* =========================================
   DARKER BIG PUBLICATION YEAR (2025 etc.)
   ========================================= */
.year {
  color: var(--global-text-color) !important;
  opacity: 0.9;     /* keeps elegant look but darker */
}
