{% comment %}
  Unified references entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      {% if entry.icon %}
        <i class="{{ entry.icon }}"></i>
      {% endif %}
      <strong>{{ entry.name }}</strong>

      {% assign ref = entry.reference %}
      {% assign ref = ref | replace: "Miao, Sen*", "<strong>Miao, Sen*</strong>" %}
      {% assign ref = ref | replace: "Sen Miao*", "<strong>Sen Miao*</strong>" %}
      <p>{{ ref | markdownify | remove: '<p>' | remove: '</p>' }}</p>

    </li>
  {% endfor %}
</ul>
