{% assign repo_name = include.repository.name | default: include.repository %}
{% assign repo_image = include.repository.image %}
{% assign repo_url = repo_name | split: '/' %}

<div class="repo modern-repo-card">
  <a href="https://github.com/{{ repo_name }}">

    <div class="repo-image-wrapper">
      {% if repo_image %}
        <img
          src="{{ repo_image | relative_url }}"
          alt="{{ repo_name }}"
          class="repo-image"
        >
      {% endif %}

      <div class="repo-overlay">
        <div class="repo-title">
          {{ repo_url[1] }}
        </div>
      </div>
    </div>

  </a>
</div>
